<div class="container">

<div class="jumbotron">
<h1>MarketWatch - Webscraper</h1>
</div>

<div class = "row main-btn">
	
	<form method='get' action='/scrape' >
	<button type="submit" class="btn btn-danger btn-space col-md-2" id="scrape">Scrape</button>
	</form>
	<form method='get' action='/savedarticles'>
	<button type="submit" class="btn btn-primary btn-space col-md-2" id="saved">Saved Articles</button>
</form>

</div>


<div class= "row">
<div id = "articles">
	
		{{#each articles}}
		<div class="row">
		
			<div class="article panel-default">
				<a class="test panel-heading col-md-6" href={{this.link}}>{{this.title}}
				</a>
				{{#unless this.saved}}
				<button type="button" class="btn btn-primary btn-space save col-md-2" data-id="{{this._id}}">Save Article </button>{{/unless}}
				{{#if this.saved}}
				<div class="alert alert-success col-md-2 text-center">Saved Article</div>
				{{/if}} 
			</div>
			
		</div>
		{{/each}}

</div>
</div>


</div>