
body{
	background-color: #2F4F4F;
}


.btn-space{
	margin-right: 10px;
	margin-left: 10px;
}

.article{
	margin-bottom: 50px;
}

.main-btn{
	margin-bottom: 25px;
}

.alert{
	
	margin-right: 10px;
	margin-left: 10px;
}
